
@media (max-width: 992px) {

  .cards {
    flex-wrap: wrap;
    gap: 20px;
  }

  .cardd {
    width: 45%;
  }

  .contact-box {
    flex-direction: column;
    text-align: center;
  }

  .contact-image img {
    width: 100%;
  }

  .reviews-container {
    width: 90%;
  }

  .animal,
  .hum {
    width: 100%;
    height: auto;
  }

  .blog {
    padding: 20px;
  }

  .blogrow {
    padding: 0;
  }

  .images {
    float: none;
    width: 100%;
    margin-top: 20px;
  }
}



@media (max-width: 576px) {

  .navbar-brand img {
    width: 120px;
    height: auto;
  }

  .navbar-nav li a {
    font-size: 16px;
  }

  .carousel-item {
    height: 40vh;
  }

  .t {
    padding: 20px;
    font-size: 14px;
  }

  .cards {
    flex-direction: column;
    align-items: center;
  }

  .cardd {
    width: 90%;
  }

  .contact-box {
    gap: 20px;
  }

  .form-row {
    flex-direction: column;
  }

  .form-row input {
    width: 100%;
  }

  .blog {
    padding: 10px;
  }

  .comp {
    padding: 0 0px;
  }

    .imagess {
    float: right;
    width: 60%;
    margin-top: 20px;
  }


  .hum{
  display: none;
  }


  .left {
    padding-left: 20px;
  }

  .right {
    padding: 20px;
    text-align: center;
  }

  .b1, .b2 {
    width: 100%;
  }

  .reviews-container {
    width: 95%;
  }

  .review-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .avatar {
    width: 40px;
    height: 40px;
  }

  .blogrow{
  padding-left: 50px ;
}

.blogbtn{
width: 90px;
height: 30px;
}

.blogrow .card{
width: 120px;
height: 200px;
font-size: 7px;
padding: 0px;
}

.right{
position: relative;
margin: 50px 150px 0px 0px;
padding: 0px;
}

.b2{
height: 60px;
width: 150px;
}

.arrow{
display: none;
}

.footer .bgimg{
padding-left: 100px; ;
}
  }
  
